### Introducting Pandas
Numpy and Pandas are both used for data analysis

In [2]:
# We normally begin by importing the usual libraries
import numpy as np
import pandas as pd # NB resolved problem by uninstall and reinstall
# import matplotlib.pyplot as plt

In [5]:
# Pandas Series - a mutable ordinal collection of ONE data type
l = [9.0, 7, -5, 3.99]
p = pd.Series(l)
p # a pandas Series (made up of a numpy array)
p.values
p.index # ordinal index from zero

RangeIndex(start=0, stop=4, step=1)

In [11]:
# We may customize the index
ind = ('c', 'b', 'b', 'd')
p = pd.Series(l, index=ind)
p # we see the Series indexed using our tuple
# so what about slicing...
p[0:3] # use the underlying ordinality
p['b':'d'] # NB this is INCLUSIVE (not stop-before)
p['c'] = 99 # we may mutate members
p['b'] # gets all matching index members (index need not be unique)

b    7.0
b   -5.0
dtype: float64

In [18]:
s = p*3 # by default operations are transitory (they do not persist)
# p[p>2] # or any comparison operator
s[s>10]

c    297.00
b     21.00
d     11.97
dtype: float64

In [33]:
# Working with non-numbers
s['a'] = np.nan
s.count() # excludes NaN members
s.mean() # excludes non-numbers
s.sum() # all excluding NaN

np.float64(314.97)

In [36]:
s.index
s

c    297.00
b     21.00
b    -15.00
d     11.97
a       NaN
dtype: float64

In [37]:
# we may ue iloc to grab ordinal members
s.iloc[2] # iloc for index-location (uses the underlying ordinal members)
# s[3] # this fails
# s['c'] # access by the index

np.float64(-15.0)

### DataFrame

In [43]:
# a Pandas DataFrame is a collection of Series
# Therefore each column of a DataFrame must contain one data type only
# But different columns may contain different data types
# It is very similar to a spreadsheet
city_data = {'Cork':35000, 'Dublin':71000, 'Galway':16000, 'Athlone':5000, 'Genoa':500}# dict
index_data = ['Cork', 'Dublin', 'Shannon', 'Galway', 'Athlone'] # list or a tuple
df = pd.DataFrame(city_data, index=index_data)
df

          Cork  Dublin  Galway  Athlone  Genoa
Cork     35000   71000   16000     5000    500
Dublin   35000   71000   16000     5000    500
Shannon  35000   71000   16000     5000    500
Galway   35000   71000   16000     5000    500
Athlone  35000   71000   16000     5000    500

In [ ]:
# another DataFrame
towns_l = ['Cork', 'Dublin', 'Galway', 'Athlone', 'Shannon', 'Rosscarbery', 'Athenry']
years_l = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
pop_l   = [1.5, 1.7, 3.6, 2.4, 2.9, 3.2, 1.7]
data_d = {'Towns':towns_l, 'Years':years_l, 'Pop':pop_l}