**Python Data Analysis Review Exercise**

Create a data frame from https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/flights.csv
‐ Show how many elements this data has, the column names and the data types for each column
‐ Show the statistical summaries for the numeric columns in the dataset ( df.describe() )
‐ Group the data by airline and show the minimum, mean departure delay for each
‐ Use the .agg() method to aggregate min, mean and max delays for departure and arrival

In [11]:
# import 
import numpy as np
import pandas as pd

In [45]:
# df = pd.read_csv('https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/flights.csv')
df = pd.read_csv('data/flights.csv') # these two sources have different amounts of data

In [31]:
df.head()

,YEAR,MONTH,DAY,DEP_TIME,DEPARTURE_DELAY,ARR_TIME,ARRIVAL_DELAY,AIRLINE,TAILNUM,FLIGHT,ORIGIN,DEST,AIR_TIME,DISTANCE,HOUR,MINUTE
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

Part 1

In [25]:
# Show how many elements this data has, the column names and the data types for each column)
print(df.size)

2572064

In [26]:
print(df.columns)

Index(['YEAR', 'MONTH', 'DAY', 'DEP_TIME', 'DEPARTURE_DELAY', 'ARR_TIME',
       'ARR_DELAY', 'AIRLINE', 'TAILNUM', 'FLIGHT', 'ORIGIN', 'DEST',
       'AIR_TIME', 'DISTANCE', 'HOUR', 'MINUTE'],
      dtype='object')

In [17]:
print(df.dtypes)

YEAR           int64
MONTH          int64
DAY            int64
DEP_TIME     float64
DEP_DELAY    float64
ARR_TIME     float64
ARR_DELAY    float64
AIRLINE       object
TAILNUM       object
FLIGHT         int64
ORIGIN        object
DEST          object
AIR_TIME     float64
DISTANCE       int64
HOUR         float64
MINUTE       float64
dtype: object

In [27]:
# Show the statistical summaries for the numeric columns in the dataset ( df.describe() )
df.describe()

,YEAR,MONTH,DAY,DEP_TIME,DEPARTURE_DELAY,ARR_TIME,ARR_DELAY,FLIGHT,AIR_TIME,DISTANCE,HOUR,MINUTE
count,160754.0,160754.000000,160754.000000,158418.000000,158418.000000,158275.000000,157927.000000,160754.000000,157927.000000,160754.000000,158418.000000,158418.000000
mean,2013.0,6.547395,15.716567,1316.146006,9.463773,1517.471161,2.094537,1156.344987,180.685158,1282.445420,12.837582,32.387847
std,0.0,3.410001,8.762794,470.823715,36.545109,510.695413,41.479349,695.884283,97.507866,765.895383,4.725552,18.687423
min,2013.0,1.000000,1.000000,1.000000,-33.000000,1.000000,-75.000000,1.000000,21.000000,17.000000,0.000000,0.000000
25%,2013.0,4.000000,8.000000,855.000000,-5.000000,1112.000000,-19.000000,504.000000,111.000000,733.000000,8.000000,16.000000
50%,2013.0,7.000000,16.000000,1345.000000,-2.000000,1541.000000,-7.000000,1157.000000,153.000000,1076.000000,13.000000,32.000000
75%,2013.0,10.000000,23.000000,1725.000000,7.000000,1944.000000,9.000000,1715.000000,258.000000,1728.000000,17.000000,51.000000
max,2013.0,12.000000,31.000000,2400.000000,1014.000000,2400.000000,1007.000000,2599.000000,695.000000,4963.000000,24.000000,59.000000

In [28]:
# Group the data by airline and show the minimum, mean departure delay for each
print(df.groupby('AIRLINE')[['DEPARTURE_DELAY']].count())
print(df.groupby('AIRLINE')[['DEPARTURE_DELAY']].min())
# we want a data frame for each carrier such as AS or DL
AS_ = df[df['AIRLINE']=='AS'] # careful 'as' is a keyword in Python
AS_.head(3)
DL_ = df[df['AIRLINE']=='DL']
DL_.head(3)

         DEPARTURE_DELAY
AIRLINE
AA                 32093
AS                   712
DL                 47761
UA                 57979
US                 19873
         DEPARTURE_DELAY
AIRLINE
AA                 -24.0
AS                 -21.0
DL                 -33.0
UA                 -20.0
US                 -19.0

,YEAR,MONTH,DAY,DEP_TIME,DEPARTURE_DELAY,ARR_TIME,ARR_DELAY,AIRLINE,TAILNUM,FLIGHT,ORIGIN,DEST,AIR_TIME,DISTANCE,HOUR,MINUTE
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
10,2013,1,1,602.0,-8.0,812.0,-8.0,DL,N971DL,1919,LGA,MSP,170.0,1020,6.0,2.0
12,2013,1,1,606.0,-4.0,837.0,-8.0,DL,N3739P,1743,JFK,ATL,128.0,760,6.0,6.0

In [32]:
# Use the .agg() method to aggregate min, mean and max delays for departure and arrival
# We can use agg() methods for aggregation:
df[['DEPARTURE_DELAY','ARRIVAL_DELAY', 'DISTANCE']].agg(['min','mean','max', 'sum'])
# or
df.agg({'DEPARTURE_DELAY':['min','mean','max'], 'ARRIVAL_DELAY':['min', 'mean', 'max']})
# or
i = df[['DEPARTURE_DELAY', 'ARRIVAL_DELAY', 'DISTANCE']]
i.agg(['min', 'mean', 'max', 'sum'])

      DEPARTURE_DELAY  ARRIVAL_DELAY      DISTANCE
min     -3.300000e+01     -75.000000  1.700000e+01
mean     9.463773e+00       2.094537  1.282445e+03
max      1.014000e+03    1007.000000  4.963000e+03
sum      1.499232e+06  330784.000000  2.061582e+08

In [35]:
# The number of flight records
df['FLIGHT_NUMBER'].count()

np.int64(160754)

In [36]:
# The number of unique airlines
df.agg({'AIRLINE':['nunique']})

         AIRLINE
nunique        5

In [39]:
# How many unique aircraft are represented
df['TAIL_NUMBER'].nunique() 
# or 
df.TAIL_NUMBER.nunique()

2222

In [40]:
# The greatest recorded delay (show the related data)
longest_delay = df.ARRIVAL_DELAY.max()
longest_delay
df[df.ARRIVAL_DELAY == longest_delay]

,YEAR,MONTH,DAY,DEP_TIME,DEPARTURE_DELAY,ARR_TIME,ARRIVAL_DELAY,AIRLINE,TAIL_NUMBER,FLIGHT_NUMBER,ORIGIN,DEST,AIR_TIME,DISTANCE,HOUR,MINUTE
156166,2013,9,20,1139.0,1014.0,1457.0,1007.0,AA,N338AA,177,JFK,SFO,354.0,2586,11.0,39.0

In [41]:
# A dataframe containing all AA flights that have no missing data members

df[df.AIRLINE == 'AA'].dropna()

,YEAR,MONTH,DAY,DEP_TIME,DEPARTURE_DELAY,ARR_TIME,ARRIVAL_DELAY,AIRLINE,TAIL_NUMBER,FLIGHT_NUMBER,ORIGIN,DEST,AIR_TIME,DISTANCE,HOUR,MINUTE
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
5,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0
8,2013,1,1,559.0,-1.0,941.0,31.0,AA,N3DUAA,707,LGA,DFW,257.0,1389,5.0,59.0
11,2013,1,1,606.0,-4.0,858.0,-12.0,AA,N633AA,1895,EWR,MIA,152.0,1085,6.0,6.0
17,2013,1,1,623.0,13.0,920.0,5.0,AA,N3EMAA,1837,LGA,MIA,153.0,1096,6.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160719,2013,9,30,1934.0,-1.0,2238.0,-12.0,AA,N3JFAA,2437,LGA,MIA,150.0,1096,19.0,34.0
160737,2013,9,30,2022.0,-3.0,2127.0,-13.0,AA,N3CUAA,2314,JFK,BOS,37.0,187,20.0,22.0
160739,2013,9,30,2028.0,78.0,2255.0,40.0,AA,N338AA,21,JFK,LAX,294.0,2475,20.0,28.0
160741,2013,9,30,2032.0,-13.0,2147.0,-38.0,AA,N434AA,371,LGA,ORD,105.0,733,20.0,32.0
160751,2013,9,30,2140.0,0.0,10.0,-30.0,AA,N335AA,185,JFK,LAX,298.0,2475,21.0,40.0

In [50]:
# A dataframe containing all flights grouped by destination
# NB here we use mean() to show actual data rather than just the groupby object
df.groupby('DESTINATION_AIRPORT')[['DEPARTURE_DELAY']].mean() # nicely formatted data frame

                     DEPARTURE_DELAY
DESTINATION_AIRPORT
ANC                        12.875000
ATL                        10.458703
AUS                        13.950617
BDL                        25.714286
BNA                        -4.000000
BOS                         6.496136
BQN                        23.871622
BUF                        -2.333333
BZN                        11.457143
CHS                        -5.000000
CLE                        13.307239
CLT                         4.329847
CVG                        -5.000000
DCA                         4.963260
DEN                        12.485613
DFW                         8.197702
DTW                         8.240042
EGE                        15.495192
EYW                         3.647059
FLL                        10.500734
HDN                        12.285714
HNL                        13.424242
IAD                       -10.000000
IAH                        10.842179
IND                        -5.000000
JAC                        26.545455
JAX                        -1.000000
LAS                         9.694296
LAX                         9.207995
LGA                              NaN
MCI                         6.012500
MCO                         8.230078
MEM                         8.535377
MIA                         8.876558
MSP                        10.639662
MSY                         9.630702
MTJ                        17.642857
OMA                        -1.000000
ORD                        11.812322
PBI                        10.521131
PDX                        15.806641
PHL                         3.284345
PHX                         8.838262
PIT                        18.176707
PWM                        13.695279
RDU                        60.000000
RSW                         8.772973
SAN                        12.132881
SAT                        20.984051
SDF                         0.000000
SEA                        10.594810
SFO                        11.680348
SJU                         7.733485
SLC                         7.300860
SNA                         7.761905
SRQ                         5.646388
STL                         4.021739
STT                         4.613900
TPA                        11.043637

In [51]:
# A dataframe containing all flights grouped by airline and sorted by increasing flight duration
result = df.groupby(['AIRLINE', 'FLIGHT_NUMBER'], sort=True)[['ARRIVAL_DELAY']].mean()
result

                       ARRIVAL_DELAY
AIRLINE FLIGHT_NUMBER
AA      1                  -9.229917
        3                  -8.160221
        19                 -8.371257
        21                  8.412742
        29                -11.925000
...                              ...
US      2189               15.394265
        2191               11.161765
        2193                8.780488
        2195                7.652542
        2197                0.796610

[2547 rows x 1 columns]

*Decide how you can address the following challenges*

In [52]:
# ‐ On average, which airline is the most punctual
# punctuality meaning arrives on time or better
punct_arr = df[df['ARRIVAL_DELAY']<=0]
punct_arr.max()
# punctuality meaning departs on time or better
punct_dep = df[df['DEPARTURE_DELAY']<=0]
punct_dep.min()
# ... meaning arr and dep on time or better
punct = punct_arr[df['DEPARTURE_DELAY']<=0]
punct.head()
# .. meaning arr and dep exactly on time
dep_ontime = punct[df['DEPARTURE_DELAY']==0]
arr_ontime = dep_ontime[df['ARRIVAL_DELAY']==0]
arr_ontime
dep_ontime

C:\Users\rb17\AppData\Local\Temp\ipykernel_26488\691281243.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  punct = punct_arr[df['DEPARTURE_DELAY']<=0]
C:\Users\rb17\AppData\Local\Temp\ipykernel_26488\691281243.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dep_ontime = punct[df['DEPARTURE_DELAY']==0]
C:\Users\rb17\AppData\Local\Temp\ipykernel_26488\691281243.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  arr_ontime = dep_ontime[df['ARRIVAL_DELAY']==0]

,YEAR,MONTH,DAY,DEP_TIME,DEPARTURE_DELAY,ARR_TIME,ARRIVAL_DELAY,AIRLINE,TAIL_NUMBER,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,AIR_TIME,DISTANCE,HOUR,MINUTE
13,2013,1,1,607.0,0.0,858.0,-17.0,UA,N53442,1077,EWR,MIA,157.0,1085,6.0,7.0
15,2013,1,1,615.0,0.0,833.0,-9.0,DL,N326NB,575,EWR,ATL,120.0,746,6.0,15.0
31,2013,1,1,655.0,0.0,1021.0,-9.0,DL,N3763D,1415,JFK,SLC,294.0,1990,6.0,55.0
58,2013,1,1,746.0,0.0,1119.0,-10.0,UA,N24224,1668,EWR,SFO,373.0,2565,7.0,46.0
74,2013,1,1,820.0,0.0,1249.0,-40.0,DL,N900PC,301,JFK,SJU,182.0,1598,8.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160723,2013,9,30,1945.0,0.0,2233.0,-32.0,DL,N6705Y,1768,JFK,SLC,263.0,1990,19.0,45.0
160732,2013,9,30,2009.0,0.0,2126.0,-3.0,UA,N77258,1049,EWR,BOS,38.0,200,20.0,9.0
160734,2013,9,30,2015.0,0.0,2244.0,-23.0,UA,N17730,1545,EWR,IAH,174.0,1400,20.0,15.0
160735,2013,9,30,2017.0,0.0,2253.0,-27.0,UA,N510UA,771,JFK,LAX,304.0,2475,20.0,17.0
160751,2013,9,30,2140.0,0.0,10.0,-30.0,AA,N335AA,185,JFK,LAX,298.0,2475,21.0,40.0

In [ ]:
# ‐ Which airline arrives ahead of time most often
df_top = df.groupby(['carrier'])['arr_delay'].agg(len)
df_freq = df_top.sort_values(ascending=False).head(1).reset_index()
df_freq